<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{{ '/' | relative_url }}">HTML Template</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="{{ '/#highlights' | relative_url }}">Highlights</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#features' | relative_url }}">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#changelog' | relative_url }}">Changelog</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/blog/' | relative_url }}">Blog</a></li>
        <li class="nav-item ms-lg-3"><a class="btn btn-outline-light btn-sm" href="https://github.com/brandonhimpfen/HTML-Template" target="_blank" rel="noopener">View on GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>
